# Ignorar arquivos de saída e cache
*.wav
*.onnx
*.json
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Ignorar pastas de modelo e outputs
models/
output_*

# Ignorar repositórios Git e configs locais
.git/
.env
*.env
